

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.left_input{
	width: 150px;
}

#single_symbol_select{
	width: 450px;
	border: #000000;
	border: 1 1 1 1;
}















