

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.left_input{
	width: 150px;
}

#single_symbol_select{
	width: 100%;
	border: #000000;
	border: 1 1 1 1;
}
#single_symbol_select > label, input, submit {
  float:left;
  padding: 5px;
}

#chart_container{
  width: 100%;
  border: #000000;
  border: 1 1 1 1;
  background-color: #f1f1f1;
}
.main_container{
  margin-top: 50px;
  width: 98%;
  height: 1000px;
  border: #000000;
  border: 1 1 1 1;
  background-color: #f1f1f1;
}
.clear{
  clear: both;
  line-height: 0px;
  height: 0px;
}

body {
  font: Helvetica;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.dot {
  fill: white;
  stroke: steelblue;
  stroke-width: 1.5px;
}














